@import 'tailwindcss';

@theme inline {
  /* ブレークポイントの設定 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* コンテナ幅の設定 */
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  /* カスタムカラーの設定 */
  --color-app-primary: oklch(0.7595 0.0805 174.05);
}
